:root {
  --primary: hsl(204, 70%, 53%);
  --secondary: hsl(204, 70%, 63%);
}
.description h3,
.description h4 {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1600px) {
  img {
    width: auto;
    height: 100%;
  }
}
