:root {
  --primary: hsl(267, 66%, 60%);
  --secondary: hsl(267, 100%, 70%);
}
@media screen and (min-width: 380px) {
  .small {
    width: auto;
    height: 100%;
  }
}
@media screen and (min-width: 1374px) {
  img {
    width: auto;
    height: 100%;
  }
}
