:root {
  --primary: rgba(147, 86, 220, 0.5);
  --secondary: rgba(255, 121, 218, 0.5);
}
.img__container > img {
  transition: all 0.3s ease-in-out;
}
.img__container > img:hover {
  scale: 1.5;
  border-radius: 4rem;
  padding: 1rem;
  background: linear-gradient(
    0deg,
    var(--primary) 0%,
    var(--primary) 20%,
    var(--secondary) 100%
  );
  text-align: center;
}
