:root {
  --primary: #0065fc;
}
* {
  font-family: 'Roboto', sans-serif;
}
body {
  height: calc(100vh - 2rem);
}
h2 {
  text-decoration: underline var(--primary);
}
.underline {
  margin-left: 3rem;
  margin-top: 1rem;
  border-bottom: 1px solid var(--primary);
  width: 30%;
}
.highlights {
  display: flex;
  flex-flow: row nowrap;
  width: 30%;
}
.constraints {
  font-weight: normal;
  color: red;
}
.line {
  position: sticky;
  top: 1rem;
  width: 2px;
  height: 50vh;
  margin-top: 20%;
  margin-left: 3rem;
  background-color: var(--primary);
}
a {
  text-decoration: none;
  color: #333;
  transition: transform 0.4s ease;
}
a:hover {
  transform: scale(1.1);
}
main {
  display: flex;
}
.main {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas: 'one two';
}
.card {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-areas: 'D' 'img' 'img';
  padding-bottom: 2rem;
}
.card:first-of-type {
  border-right: 1px dashed var(--primary);
}
.description {
  grid-area: D;
  margin: auto 1rem;
}
.img__container {
  grid-area: img;
}
.img__container {
  height: 400px;
  width: 320px;
  margin: auto;
}
.img__container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
header {
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: bold;
}
footer {
  width: 75%;
  border-top: 1px solid var(--primary);
  height: 80px;
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
}
@media screen and (max-width: 1400px) {
  .main {
    grid-template-areas:
      'one'
      'two';
  }
  .card:first-of-type {
    border-right: none;
    border-bottom: 1px dashed var(--primary);
  }
}
@media screen and (max-width: 680px) {
  main {
    flex-direction: column;
  }
  .line {
    display: none;
  }
  .highlights {
    border-bottom: 1px solid var(--primary);
  }
}
