* {
  font-family: 'Roboto', sans-serif;
}
body {
  height: calc(100vh - 2rem);
}
.underline {
  margin-left: 3rem;
  margin-top: 1rem;
  border-bottom: 1px solid #0065fc;
  width: 30%;
}
.highlights {
  display: flex;
  flex-flow: row nowrap;
}
.line {
  width: 2px;
  height: 50vh;
  margin-top: 20%;
  margin-left: 3rem;
  background-color: #0065fc;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  transform: scale(1.1);
}
main {
  display: flex;
}
.main {
  display: flex;
  gap: 1rem;
}
.img__container {
  text-align: center;
  width: auto;
  height: 400px;
  margin: 0.5em auto;
  overflow: clip;
}
.img__container > img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.img__container:nth-child(1) > img {
  width: 50%;
}

.card {
  width: 50%;
  height: 100%;
  margin: auto 1rem;
}
.card:first-of-type {
  border-right: 1px dashed #0065fc;
}
.description {
  padding: 1rem;
}
header {
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: bold;
}
footer {
  width: 75%;
  border-top: 1px solid #0065fc;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
}
@media screen and (max-width: 920px) {
  main {
    flex-direction: column;
  }
  .line {
    display: none;
  }
  .highlights {
    border-bottom: 1px dashed #0065fc;
  }
  .main {
    flex-direction: column;
  }
  .underline {
    width: 80%;
  }
  .card {
    width: 100%;
    margin: 1rem auto;
  }
  .card:first-of-type {
    margin-bottom: 1rem;
    border-right: none;
    border-bottom: 1px dashed #0065fc;
  }
}
@media screen and (max-width: 460px) {
  .img__container:nth-child(1) > img {
    width: 100%;
    height: auto;
  }
  footer {
    width: 90%;
    margin-bottom: 2rem;
  }
}
